@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    width: 100%;
    max-width: calc(var(--container-width, 100%) + var(--container-padding, 16px) * 2);
    margin: 0 auto;
    padding: 0 var(--container-padding, 16px);
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--headings-color, #000000);
  }

  h1 {
    @apply text-4xl
  }

  h2 {
    @apply text-3xl
  }

  h3 {
    @apply text-2xl
  }

  h4 {
    @apply text-xl
  }

  h5 {
    @apply text-lg
  }

  h6 {
    @apply text-base
  }

  *:focus-visible {
    outline: 2px solid black;
    outline-offset: 2px;
  }

  .text-link {
    @apply underline underline-offset-2 hover:no-underline
  }

  .rich-text a {
    @apply text-link;
  }

  .rich-text-big p {
    @apply text-2xl mb-2;
  }
}
